package packagename

import ch.neukom.advent2022.util.InputResourceReader

object ClassName

fun main() {
    InputResourceReader(ClassName.javaClass).use(::run)
}

private fun run(reader: InputResourceReader) {

}
